*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
height: 100%;
width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding: 0.1px;
}

#nav{
    height: 11vh;
    width: 100%;
    margin-top: 25px;
    border-top:  2px solid black;
    border-bottom:  2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: monument;  
    font-size: 38px;
    letter-spacing: -1px;
    position: relative;
}

#nav h1::after{
    content: "©";
    font-size: 17px;
    font-weight: 200;
    position: absolute;
    top: 17%;
    right: 11%;
}
#nav h2{
    height: 100%;
    width: 20%;
    font-size: 21px;
    font-weight: 500; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;   
    /* background-color: red; */
}

#nav h2:nth-last-child(2){
    width: 29%;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: blue; */
    padding: 3% 3.5%;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    background-color: red;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 50%;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: rgb(16, 162, 162); */
    color: white;
    padding: 3vw;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vh;
}

#over1 h1{
    font-size: 3vw;
    font-family: monument;

}

#over1 h2{
    padding: 1.5vw 1.7vw;
    border-radius: 50%;
    border: 1px solid white;

}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 1vw;
}

#over2 h4{
    font-size: 1.2vw;
}

#over2 img{
    height: 2.6vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: aquamarine; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 10px; */
}

#container{
    height: 100%;
    width: 110%;
    /* background-color: red; */
    display: inline-block;  
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#scroll img{
    /* display: none; */
    height: 90%;
    border-radius: 50%;
    width: 12%;
    object-fit: cover;
    margin: 1.3vw;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
     /* font-size: 20px; */
    /* padding: 20px 20px; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 1.5vw;
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    font-weight: 400;
    letter-spacing: 3px;
    margin-right: 2px;
}

#alphabet h6{
    font-size: 1vw;
    font-style: italic;
    font-weight: 400;
    /* background-color: aqua; */
    border: 1px solid #00000000;
    border-radius: 50%;
    padding: 0.5vw 0.7vw;
    transition: all ease 0.2s;
    cursor: pointer;
    
}

#alphabet h6:hover{
    border: 1px solid #000000;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;

}

#page2-part1{
     height: 100%;
     width: 48%;
     background-image: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-size: cover;
}

#page2-part2{
    height: 100%;
    width: 42%;
}

#page2-part2 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}

#para{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#para h3{
    padding: 2.5vh 0;
    font-size: 20px;
}

#para h5{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 600;
}

#page3{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5vw;
    
}

#page3-part1{
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-part2{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1520975916090-3105956dac38?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;

}

#page4{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 6vw;
}

#page4-part1{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1499409874263-15170ac8f2a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#page5{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4vw 3vw;
}

#page5>h1{
    text-transform: uppercase;
    text-align: center;
    font-family: monument;
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 7vh;
}

.elem{
    height: 17vh;
    width: 100%;
    /* background-color: aqua; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    /* position: relative; */
}

.elem img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute; 
    left: 10%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.6s;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    width: 6vw;
    font-weight: 500;
}

.elem-part2{
    /* background-color: aqua; */
    width: 40%;
}


.elem-part2 h1{
  font-weight: 500;
}

.elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:hover img{
    opacity: 1;
    left: 30%;
}

#page6{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 4vw;
    /* padding-bottom: 6vw; */

}

#page6-part1{
    height: 100%;
    width: 50%;
  background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1580617938093-9b7456886f13?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#page6-part2{
    height: 100%;
    width: 50%;
}

#page6-part2-top{
    height: 60%;
    width: 100%;
    padding: 2vw 3vw;
    /* background-color: aqua; */
}

#page6-part2-top h1{
    text-transform: uppercase;
    font-family: monument;
    margin-top: 4vw;
}

#page6-part2-top h2{
   margin-top: 3vw;
   font-weight: 500;
}

#page6-part2-top h5{
    font-size: 17px;
    margin-top: 3vw;
    font-weight: 500;
}

#page6-part2-bottom{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* background-color: red;  */
}

#page6-part2-bottom1{
    height: 100%;
    width: 55%;
    /* background-color: rgb(50, 204, 86); */
}


#page6-part2-bottom2{
    height: 100%;
    width: 42%;
    /* background-color: rgb(158, 50, 204); */
}

#page6-part2-bottom1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-left: 3vw;
}

#page6-part2-bottom2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-right: 5vw;    
}

#marque{
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.3vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 5vw;
}

#marque h1{
    text-transform: uppercase;
    font-family: monument;
    font-size: 3vw;
    display: inline-block;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#page7{
    height: 100%;
    width: 100%;
    padding: 3vw 5vw;
}

#page7-part1{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

#page7-part1 h1{
    align-self: flex-start;
    font-family: monument;
    padding-top: 4.5%;
    font-size: 35px;
}

#page7-part1 h2{
    font-size: 23px;
    font-weight: 500;
    display: flex;
   justify-content: center;
}

#page7-part1 h2::before{
   margin-right: 6px;
   content: "B";
   font-size: 16px;
   border: 1px solid black;
   border-radius: 50%;
   width: 30px; /* Adjust the size of the circle */
   height: 30px; /* Adjust the size of the circle */
   display: flex;
   justify-content: center;
   align-items: center;
}

#page7-part2{
    height: 65%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#page7-part2-left{
    height: 100%;
    width: 55%;
    padding-left: 15vw;
    /* background-color: aquamarine; */
}

#page7-part2-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page7-part2-right{
    height: 100%;
    width: 40%;
    /* background-color: bisque;    */
}

#page7-part2-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#footer{
    width: 100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 5vw;
    padding-bottom: 2vw; */
    margin-top: 5vw;
    /* margin-bottom: 2vw; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#footer-left{
 height: 100%;
 width: 35%;
 /* background-color: aqua; */
 display: flex;
 justify-content: space-between;
}

#footer-left h1{
    font-family: monument;
    padding: 2vw 4vw;
    position: relative;
}


#footer-left h1::after{
    content: "©";
    font-size: 17px;
    font-weight: 200;
    position: absolute;
    top: 12%;
    right: 14.5%;
}

#footer-left h2{
    font-size: 22px;
    font-weight: 500;
    padding: 2.3vw 3vw;
    position: relative;
}

#footer-center{
    height: 100%;
    width: 20%;
    /* background-color: bisque; */
    border-left:  2px solid black;
    position: relative;
}

#footer-center h2{
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
padding: 2.3vw 4.5vw;

}

#footer-right{
    height: 100%;
    width: 45%;
    /* background-color: rgb(0, 255, 145); */
    border-left:  2px solid black;
}

#footer-right-top{
    height: 35%;
    width: 100%;
    /* background-color: rgb(60, 0, 255); */
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

#footer-right-top h2{
    font-size: 22px;
    font-weight: 500;
    padding-left: 8vw;
}

#footer-right-bottom{
    height: 65%;
    width: 100%;
    /* background-color: rgb(255, 0, 93); */
}

#footer-right-bottom-part1{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8vw;
    gap: 2vw;
    font-size: 22px;
}

#footer-right-bottom-part2{
    height: 65%;
    width: 100%;
    /* background-color: rgb(0, 255, 123); */
    display: block;
    padding-top: 0.6vw;
}

#footer-right-bottom-part2 h5{
    font-size: 14px;
    font-weight: 500;
    padding-left: 8vw;
    margin-bottom: 2px;
}



#last{
    height: 5%;
    width: 100%;
}






